/*CABECERA*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 20px;
    padding: 70px;
    margin: 30px auto;
    text-align: center;
    
}

#Logo img{ 
width: 200px;
display: inline block;
margin-top: -1000px;
margin-left: 90px;

}  
/* Estilos para el contenedor principal */
.container {
    
    justify-content:center; 
    max-width: 700px;
    margin:0px auto 0 auto; 
    text-align: center; 
   

}
nav{ 
    position: relative;
    width: 1500px;
    margin-top: 30px;
    margin: 10px auto;
    font-size: 25px;
    margin-left: 400px;
   
}

ul{
    list-style: none;
}

li a{
    text-decoration: none;
    color:#141414;
    background:F2F2F2;
    padding: 10px;
    display: block;
    width: 220px;
    margin-top: 5px;
    margin-left: 15px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

li{
    text-align: center;
    display: inline-block;
}

li a:hover{
border: 1px solid #E9EEF2;
background: #F2F2F2;
border-radius: 10px;
color: #050505;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
/*Fin cabecera*/

h1{
    color: #D92929;
    width: 200%;
    padding: 50px; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    margin: 10px;
    height: 20px;
    margin-left: 85px;
    font-size: 30px;
    

}
h1 {
    text-align: left;
}

h2 {
    color: #000000;
    
   
    height: 300px;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

